.three{

    width:100%;
   
   
    
}
#pricing-head{

    font-size: 50px;
    margin: 10px;
    font-family: sans-serif;
    color: cornflowerblue;
}
#product-head{
    
    font-size: 50px;
   
    font-family: sans-serif;
    color: cornflowerblue;
    margin: 10px;
}