body{
    background-color: black;
    text-align: center;
    font-size: 36px;
    color:white;
}

#M{
    transition: color 2s,font-size 4s;
}
#M:hover{

    color: crimson;
    font-size: 100px;
   
}

#Wor{
    transition: color 2s,font-size 4s;
}
#Wor:hover{

    color: rgb(20, 33, 220);
    font-size: 10px;
   
}
#ld{
    transition: color 2s,font-size 4s;
}
#ld:hover{

    color: rgb(33, 115, 6);
    font-size: 200px;
   
}
